In [1]:
import pandas as pd

In [9]:
gender= pd.read_csv('gender_submission.csv')
gender.head(5)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [10]:
train_df =pd.read_csv('train.csv')
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
total_pass=len(train_df)
total_pass

891

In [14]:
num_sex = pd.value_counts(train_df['Sex'])
num_sex

male      577
female    314
Name: Sex, dtype: int64

In [15]:
count_class=pd.value_counts(train_df['Pclass'])
count_class

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [29]:
#num_male = pd.value_counts(train_df['Sex']=='male')
num_male=len(train_df[train_df['Sex'] == 'male'])
num_male

577

In [30]:
num_female=len(train_df[train_df['Sex'] == 'female'])
num_female

314

In [33]:
percent_males = (num_male/total_pass)*100
percent_males

64.75869809203144

In [34]:
percent_females = (num_female/total_pass)*100
percent_females

35.24130190796858